
<div class="row mt-4 ml-4">
    <div class="col-4">
        <img src="../../assets/profile.png" alt="profile picture">
    </div>

    <div class="col-4">
    
        <form [formGroup]="formGroup">
    
            <div class="form-group">
                <label for="ID">ID</label>
                <h1 class="display-4">{{user.id}}</h1>
            </div>
            
            <div class="form-group">
                <label for="firstName">First Name</label>
                <h1 class="display-4">{{user.firstName}}</h1>
            </div>
    
            
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <h1 class="display-4">{{user.lastName}}</h1>
    
            </div>
    
            
    
        </form>
    </div>

    <div class="col-4">

        
        <ul class="list-group mt-4">
            
            <div *ngFor="let group of groups">
                <li class="list-group-item d-flex justify-content-between align-items-center btn" (click)="addMember(user,group.groupName)">
                    <p class="col-8 h3" style="text-align: left;"> {{group.groupName}}</p>
                    <span class="badge">{{groupLen(group)}}</span>
                </li>
            </div>

        </ul>

    </div>

    

</div>

